<h1>Skeid sushi</h1>

<section id="about">
  <h2>Om Skeid sushi &amp; wok</h2>

  <p>
    I et lite gatekjøkken ved Skeidbanen lager Dhan fra Nepal vakre og
    velsmakende sushi-retter. Kom til
    <a href="https://maps.app.goo.gl/eN7Cyqr5CuAsHXwG6">Lofthusveien 1A</a> og
    smak!
  </p>
</section>

<h2>Glimt av menyen</h2>
<section class="slider">
  <div class="slides">
    {{#each items}}
    {{#if title}}
    <div id="slide-{{@index}}">
      <h3>{{title}}</h3>
      <img src="/foto/{{image}}" alt="bilde av {{title}}" />
    </div>
  {{/if}}
  {{/each}}
  </div>
  {{#each items}}
  {{#if title}}
  <a href="#slide-{{@index}}">{{@index}}</a>
  {{/if}}
  {{/each}}

</section>

